.header{
	background-color:white;
 }

.logo{
    margin: 0 0 0 2px;
    padding: 0px;
    text-align: justify;
    width: 10vw;
    height: 20%;
    vertical-align: middle;
    /*display: table-cell;*/
    display: flex;
    width: 30%;
}
.nav{
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    text-align: left;
}

.nav-detalles{
    display: flex;
    flex-wrap: wrap;
}

.img-banner{
    width: 100%;
}

.productoColumna{
    text-align: center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 20px;
    width: 20vw;    
}

.productos-destacados{
    color:rgb(5, 5, 5);
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    /*width: 80vw;
    height: 160px;*/
    flex-direction: row;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    
}

.div-ofertas{
    color:rgb(5, 5, 5);
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    /*width: 80vw;
    height: 160px;*/
    flex-direction: row;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
}



.ofertas-destacadas{
    color:rgb(236, 149, 18);
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 100vw;
    height: 160px;    
    flex-direction: row;
    align-items: end;    
}

.texto-destacado{
    color:rgb(236, 149, 18);
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    align-items: end;    
    position: relative;
}

.img-oferta{
    width: 80%;
    text-align: center;
}

/* IMAGENES DE OFERTAS */
.img-oferta2{
    width: 100%;
}

/* DIV CONTENEDOR OFERTAS */
.div-ofertas{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    border: 1px solid;
}

/* PRECIO */
.div-precio{
    text-align: justify;
    font-size: 16pxpx;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    border-top: 1px solid #ebebeb;
    flex-direction: row;
    width: 100%;
}

.precio{
    font-size: 20px;
    font-style: italic;
    color: rgb(17, 134, 17);
    font-weight: bold;
    text-decoration: line-through black;
}

.div-ofertas1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.precio-queda{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

.boton-carrito{
    text-align: center;
    margin-left: 25%;
    border-radius: 8px;
}


@media (min-width: 370px){
    /*celu*/
    body {
        background-color: white;
    }
    ul {
        width : 80vw;  
    }
    h3,h4 {
        font-size: 10px;
    }

    img {

        width: 70%;
        height: 70%;
    }
}


@media (min-width: 460px){
    /*tablet*/
    body {
        background-color: white;
    }
    ul {
        width : 80vw%;  
    }

    h3,h4 {
        font-size: 16px;
    }

    img {

        width: 90%;
        height: 90%;
    }    
}

@media (min-width: 768px){
    /*laptop*/
    body {
        background-color: white;
    }

    ul {
        width : 35%;  
    }

    h3 ,h4 {
        font-size: 20px;
    }

    img {

        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1024px){
    /*laptop*/
    body {
        background-color: white;
    }

    ul {
        width : 30%;  
    }
}