<!DOCTYPE html>
<html lang="en">
<head>
    <LINK REL="stylesheet" TYPE="text/css" HREF="../css/estilos.css"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce Grupo 7</title>
</head>
<body>
<header class="header"> 
<img class ="logo" src = "/img/logo-proyecto.jpg">
<hr />
<p> Compra en cuotas y sin tarjeta de créditos </p>
<hr />
<nav class="nav"> 
<div>
   <ul> 
    <a href="#">Categorías</a>
    <a href="#">Ofertas</a>
    <a href="#">Ofertas destacadas</a>
    <a href="contacto.html">Contacto</a>
   </ul>
</nav>
<hr/>
</header>
<img src="/img/banner-dto.jpg" class="img-banner">
<br>
<main>
    <section> 
        <h2> Descuentos exclusivos </h2>  

        <article>
                <img class="img-oferta" src="/img/Oferta-50.jpg">
        </article>
    </section> 
   <div class="div-ofertas">
        <article>
            <img class="img-oferta2" src ="/img/patitas-pollo.jpg">
            <div class="div-precio">
                <h3>Patitas de pollo "Granja del sol"</h3> 
            </div>
            <br>
            <div class="div-ofertas1">
                <p class="precio">$700<p>
                <p class="precio-queda">$350 la 2da unidad</p>
            </div>
            <button class= "boton-carrito">AÑADIR AL CARRITO</button>
        </article>
    <br>
    <br>
   </div>
           
   <div class="productos-destacados">  

    <ul>
        <div class= "productoColumna">
            <div class="productoTitulo">
                <h3>producto uno</h3>
                <img class="productoImagen" src = "/img/cafe dolca.jpg">
                <div class="" "productoDetalle">
                    <h4>$99.99</h4>
                    <button class= "productoBoton">AÑADIR AL CARRITO</button>
                </div>
            </div>
        </div>
    </ul>
    <ul>
        <div class= "productoColumna">
            <div class="productoTitulo">
                <h3>producto dos</h3>
                <img class="productoImagen" src = "/img/cafe dolca.jpg">
                <div class="" "productoDetalle">
                    <h4>$99.99</h4>
                    <button class= "productoBoton">AÑADIR AL CARRITO</button>
                </div>
            </div>
        </div>  
    </ul>
    <ul>
        <div class= "productoColumna">
            <div class="productoTitulo">
                <h3>producto tres</h3>
                <img class="productoImagen" src = "/img/cafe dolca.jpg">
                <div class="" "productoDetalle">
                    <h4>$99.99</h4>
                    <button class= "productoBoton">AÑADIR AL CARRITO</button>
                </div>
            </div>
        </div>  
    </ul>
    <ul>
        <div class= "productoColumna">
            <div class="productoTitulo">
                <h3>producto tres</h3>
                <img class="productoImagen" src = "/img/cafe dolca.jpg">
                <div class="" "productoDetalle">
                    <h4>$99.99</h4>
                    <button class= "productoBoton">AÑADIR AL CARRITO</button>
                </div>
            </div>
        </div>  
    </ul>
    <ul>
        <div class= "productoColumna">
            <div class="productoTitulo">
                <h3>producto tres</h3>
                <img class="productoImagen" src = "/img/cafe dolca.jpg">
                <div class="" "productoDetalle">
                    <h4>$99.99</h4>
                    <button class= "productoBoton">AÑADIR AL CARRITO</button>
                </div>
            </div>
        </div>  
    </ul>
    <ul>
        <div class= "productoColumna">
            <div class="productoTitulo">
                <h3>producto tres</h3>
                <img class="productoImagen" src = "/img/cafe dolca.jpg">
                <div class="" "productoDetalle">
                    <h4>$99.99</h4>
                    <button class= "productoBoton">AÑADIR AL CARRITO</button>
                </div>
            </div>
        </div>  
    </ul>
    <ul>
        <div class= "productoColumna">
            <div class="productoTitulo">
                <h3>producto tres</h3>
                <img class="productoImagen" src = "/img/cafe dolca.jpg">
                <div class="" "productoDetalle">
                    <h4>$99.99</h4>
                    <button class= "productoBoton">AÑADIR AL CARRITO</button>
                </div>
            </div>
        </div>  
    </ul>
    <ul>
        <div class= "productoColumna">
            <div class="productoTitulo">
                <h3>producto tres</h3>
                <img class="productoImagen" src = "/img/cafe dolca.jpg">
                <div class="" "productoDetalle">
                    <h4>$99.99</h4>
                    <button class= "productoBoton">AÑADIR AL CARRITO</button>
                </div>
            </div>
        </div>  
    </ul>
    <ul>
        <div class= "productoColumna">
            <div class="productoTitulo">
                <h3>producto tres</h3>
                <img class="productoImagen" src = "/img/cafe dolca.jpg">
                <div class="" "productoDetalle">
                    <h4>$99.99</h4>
                    <button class= "productoBoton">AÑADIR AL CARRITO</button>
                </div>
            </div>
        </div>  
    </ul>


</div>  

    <div class="texto-destacado">  
        <p>    
        <p>    
        <h1>Ofertas destacadas</h1>
    </div>

    <section class="ofertas-destacadas">  
        <div>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                uno
            </span>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                dos
            </span>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                tres
            </span>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                tres
            </span>            
        </div>  

        <article> </article>
    </section>
</main>
<footer>

</footer>
</body>
</html>