<!DOCTYPE html>
<html lang="en">
<head>
    <LINK REL="stylesheet" TYPE="text/css" HREF="../css/estilos.css"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce Grupo 7</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header class="header"> 
        <img class ="logo" src = "/img/logo-proyecto.jpg">
        <hr />
        <p> Compra en cuotas y sin tarjeta de créditos </p>
        <hr />
        <nav class="nav"> 
            <div>
                <ul> 
                    <a href="#">Categorías</a>
                    <a href="#">Ofertas</a>
                    <a href="#">Ofertas destacadas</a>
                    <a href="contacto.html">Contacto</a>
                </ul>
        </nav>
        <hr/>
    </header>
    <main>
        <section class="login-content">
            <form action="/login" method="post" class="login-form">
                <div class="control-formulario">
                <div class="control-formulario">
                    <input type="text" name="username" placeholder="Nombre de usuario" class="control input-style">
                </div>
                <div class="control-formulario">
                    <input type="password" name="password" placeholder="Contraseña" class="control input-style">
                </div>
                <a href="#"><p class="olvidaste-contraseña">¿Olvidaste tu Contraseña?</p></a>
                <button type="submit" class="boton">Iniciar sesión</button>
                <a href="#"><p class="registrarte">Registrate</p></a>
            </form>
        </section>
    </main>